@model Component

@{
    ViewData["Title"] = "Component";
}

<form method="post" asp-action="Upsert">
    <div class="card border-primary mt-3">
        <div class="card-header">
            <h2 class="text-primary">@(Model.Id is 0 ? "Tạo" : "Chỉnh sửa") component</h2>
        </div>
        <div class="card-body">
            <div asp-validation-summary="All"></div>
            <input asp-for="Id" hidden />
            <div class="mb-3 col-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 col-12">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            @if (Model.Id is 0)
            {
                <button type="submit" class="btn btn-primary" style="width: 150px;">Lưu</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" style="width: 150px;">Cập nhật</button>
            }
            <a asp-controller="Component" asp-action="Index" class="btn btn-secondary" style="width: 200px;">Trờ về danh sách</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        tinymce.init({
            selector: 'textarea',  // change this value according to your HTML
            plugins: 'a_tinymce_plugin',
            a_plugin_option: true,
            a_configuration_option: 400
        });
    </script>
}